---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import { siteConfig } from '../config/site';
---

<Layout title={`${siteConfig.title} - FullStack Web Developer`}>
	<Header title={siteConfig.title} />
	<main>
		<Hero />
		<About />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		width: 100%;
	}
</style>
