---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Projects from '../components/Projects.astro';
import LatestPosts from '../components/LatestPosts.astro';
import { siteConfig } from '../config/site';
---

<Layout title={`${siteConfig.title} - FullStack Web Developer`}>
	<Header title={siteConfig.title} />
	<main class="pt-24">
		<div class="container mx-auto px-4 grid grid-cols-1 lg:grid-cols-3 gap-8 mb-8">
			<div class="lg:col-span-2">
				<Hero />
			</div>
			<div class="lg:col-span-1">
				<LatestPosts />
			</div>
		</div>
		<About id="about" />
		<Projects id="projects" />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding-top: 6rem;
		width: 100%;
	}
</style>
